# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
venv/
env/
evn/
# Editor/IDE specific files
.vscode/
.idea/
*.swp
*.bak
*.swo

# Test/coverage filess
.coverage
.pytest_cache/
htmlcov/

# Build artifacts
dist/
build/
*.egg-info/

# Jupyter Notebook specific files
.ipynb_checkpoints/

# Operating System files
.DS_Store
Thumbs.db

# PyInstaller files
specs/
build/
dist/
